@import '../../../styles/main.scss';

.item {
    height: 90px;
    box-sizing: border-box;
    padding: 20px 20px 20px 30px;
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #ffffff;
    border-radius: 6px;
    border: 3px solid #f8f8f8;
    margin: 10px 0;
    font-size: 10px;
    color: $main_pink;
    transition: all .3s linear;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    .complete-tick {
        display: none;
    }

    &.readOnly{
        height: 100%;
        margin: 0;
        justify-content: center;

        h4{
            font-size: 1.6rem;
            margin-right: 20px;
        }
        .bottom{
            width: 100%;
            display: flex;
            justify-content: center;
        }

        img{
            background-color: $main_orange;
            padding: 2px;
        }
    }

    &.editing {
        border-color: $main_orange;

        &::after {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            opacity: .3;
            // background-color: $main_pink;
        }
    }

    .tags {
        display: flex;
        height: 40px;
        margin-left: 15px;
        align-items: center;

        .tag {
            font-size: .7rem;
            padding: 2px 8px 3px 8px;
            border-radius: 20px;
            background-color: #dedede;
            border: 1px solid #dedede;
            color: #858585;
            margin-right: 5px;
            cursor: pointer;
            transition: .3s linear all;
            position: relative;
            display: flex;
            align-items: center;
            position: relative;
            top: 2px;

            svg {
                background-color: transparent;
                height: 15px;
                width: 15px;
                color: #858585;
                padding: 0;
                margin-right: 2px;
            }
        }
    }

    &.complete {

        .complete-tick {
            display: initial;
            position: absolute;
            left: 7px;

            svg {
                height: 19px;
                width: 19px;
            }
        }
    }

    .confirm-delete {
        position: absolute;
        background-color: #f3f3f3;
        left: 0;
        z-index: 10;
        height: 100%;
        width: 100%;
        opacity: 0;
        pointer-events: none;
        transition: all .3s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .warning {
            display: flex;
            align-items: center;
            margin-left: 40px;

            svg {
                height: 40px;
                width: 40px;
                margin-right: 25px;
            }
        }

        .conf {
            height: 60px;
            width: 150px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // border: 1px solid red;

            img.spinner {
                background-color: initial;
                position: relative;
                // left: 35px;
                height: 30px;
            }

            p {
                font-weight: 700;
                font-size: .8rem;
                color: $main_red;
            }

            .conf-btns {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 5px;
                position: relative;
                // border: 1px solid red;

                .btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 25px;
                    width: 25px;
                    border-radius: 50%;
                    background-color: #e7e7e7;
                    // border: 1px solid red;
                    margin: 0 2px;

                    svg {
                        height: 12px;
                        width: 12px;
                        margin: 0;
                        cursor: pointer;
                        position: relative;
                        color: #858585;
                        transition: .15s ease-out all;
                    }

                    &:hover {
                        svg {
                            color: $main_red;
                        }
                    }

                    &.yes {
                        left: 10px;

                        svg {
                            height: 30px;
                            width: 30px;
                            position: relative;
                        }

                        &:hover {
                            svg {
                                color: rgb(145, 236, 54);
                            }
                        }
                    }
                }

            }
        }


        &.visible {
            opacity: 1;
            pointer-events: all;

        }
    }

    &:hover {

        .user-btns {
            opacity: 1 !important;
        }
    }

    .left,
    .right {
        display: flex;
        align-items: center;
    }

    .left {
        svg {
            height: 35px;
            width: 35px;
            border-radius: 50%;
            color: $main_orange;
            background-color: #f8f8f8;
            padding: 10px;
        }
    }

    .right {

        .user-btns {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100px;
            right: -20px;
            position: relative;
            opacity: 1;
            transition: .3s linear all;
        }

        .action-btn {
            height: 25px;
            width: 25px;
            border-radius: 50%;
            background-color: #ffffff;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .3s linear all;

            svg {
                height: 22px;
                width: 22px;
                color: $main_red;
            }

            &:hover {
                background-color: $main_red;

                svg {
                    color: #ffffff;
                }
            }

            &.edit {
                left: -5px;

                svg {
                    height: 16px;
                    width: 16px;
                    color: #858585;
                    position: relative;
                    right: -1px;
                }

                &:hover {
                    background-color: #dedede;
                    // svg{
                    //     color: #ffffff;
                    // }
                }
            }

        }
    }

    .delete {
        height: 15px;
        width: 15px;
        background-color: red;
        position: relative;
        left: -15px;
    }

    h4 {
        font-size: 16px;
        margin-left: 20px;
    }

    img {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        color: $main_orange;
        background-color: #f8f8f8;
        padding: 10px;
    }

    img {
        padding: 1px;
        background-color: #858558;
    }
}