@import '../../styles/main.scss';

.home{
    height: calc(100vh - 50px);
    width: 100vw;
    overflow: hidden;
    position: relative;
    border: 3px solid #ffffff;
    display: flex;
    
    .container{
        height: 100%;
        display: flex;
        flex-grow: 1;
        position: relative;
        left: -10px;
        flex-direction: column; 
        box-sizing: border-box;
        padding: 20px;
    }
}