@import '../../styles/main.scss';

    .sidebar{
        width: 50px;
        border-radius: 19px;
        background-color: #E6E6E6;
        position: relative;
        height: 100%;
        left: -15px;
        transition: .6s cubic-bezier(0.44,-0.34, 0.56, 1) all;
        box-sizing: border-box;
        padding: 20px 20px 20px 30px;
        
        &.open{
            width: 300px;
            // transition: .6s cubic-bezier(0.44,-0.34, 0.56, 1.49) all;

            .inner{
                left: 0;
            }
        }
        
        .inner{
            width: 225px;
            overflow: hidden;
            position: relative;
            left: -245px;
            transition: .6s cubic-bezier(0.44,-0.34, 0.56, 1) all;
        }

        .title{
            margin: 5px 0 20px 0;
            padding-bottom: 5px;
            width: 100%;
            color: #858585;
            font-weight: 500;
            font-size: 1.3rem;
            border-bottom: 1px solid $main_orange;
        }

        .handle{
            position: absolute;
            transition: .1s linear all, .4s linear transform;
            top: 50%;
            right: -10px;
            transform: translateY(-50%)rotate(0deg);
            height: 25px;
            width: 25px;
            border-radius: 50%;
            background-color: #858585;
            color: #ffffff;
            font-size: 25px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-weight: 300 !important;
            padding: 2px;

            &:hover{
                background-color: $main_orange;
            }
            
            &.open{
                transform: translateY(-50%)rotate(-180deg);
                
            }
        }

        .block{
            margin-bottom: 10px;
            margin-left: 30px;

            .title-row{
                display: flex;
                align-items: center;
                position: relative;

                svg{
                    position: relative;
                    left: -10px;
                    bottom: 4px;
                    height: 20px;
                    width: 20px;
                    color: #858585;
                }

                .clear-all{
                    font-size: .3em;
                    font-weight: 500;
                    padding: 3px 5px;
                    border-radius: 15px;
                    background-color: #cbcbcb;
                    color: white;
                    justify-self: flex-end;
                    position: absolute;
                    right: 0;
                    top: 7px;
                    transition: .2s linear all;
                    cursor: pointer;

                    &:hover{
                        background-color: #858585;
                    }
                }
            }
            .filter-title{
                width: fit-content;
                padding: 5px 2px;
                margin-bottom: 10px;
                font-weight: 500;
                color: $main_orange;
                border-bottom: 1px solid #cbcbcb;
            }
            .radios{
                margin-left: 10px;
                .filter-row{
                    display: flex;
                    height: 30px;
                    cursor: pointer;
                    border: 1px solid transparent;
                    align-items: center;
                    padding: 0 5px;
                    border-radius: 2px;
                    transition: .1s linear all;

                    &:hover{
                        border-color: #cbcbcb;
                    }
                    p{
                        width: 150px;
                        color: #858585;
                        font-weight: 700;
                        font-size: .8rem;
                    }
                    .checkbox{
                        height: 15px;
                        width: 15px;
                        border: 1px solid #858585;
                        border-radius: 5px;
                        position: relative;

                        &.checked::after{
                            content: "";
                            position: absolute;
                            height: 10px;
                            width: 10px;
                            background-color: $main_pink;
                            border-radius: 2px;
                            top:50%;
                            left: 50%;
                            transform: translate(-50%, -50%);

                        }
                    }
                }
            }
        }
    }