@import '../../styles/main.scss';

.nav-bar{
    height: 50px;
    width: 100%;
    background-color: #E6E6E6;
    // border-bottom: 2px solid $main_orange;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;

    h6{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }

    .nav-items{
        display: flex;
        position: relative;
        left: 10px;
        margin-right: 20px;

        .my-area{
            display: flex;
            align-items: center;
            cursor: pointer;

            p{
                color: #ababab;
                margin-left: 5px;
            }

            
        }

        img{
            height: 30px;
            width: 30px;
            border-radius: 50%;
            border: 3px solid #ababab;
        }

        .nav-item{
           font-size: 16px;
        //    text-transform: uppercase;
           width: 80px;
           margin: 0;
           color: $main_pink;
           text-align: center; 
           font-weight: 900;
           cursor: pointer;
        }
    }

    button{
        height: 30px;
        width: 100px;
        color: #ffffff;
        background-color: #858585;
        // border: 2px solid #858585;
        transition: .25s all ease-out;
        border-radius: 3px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 35px;
        position: relative;
        
        svg{
            stroke-width: 3px;
            position: absolute;
            right: 11px;
            // transform: rotate(180deg);
        }

        p{
            color: white;
            position: absolute;
            right: 30px;
            white-space: nowrap;
            transition: .25s all ease-out;
            opacity: 0;
            font-size: 0.85rem;
            font-weight: 500;
        }

        &:hover{
            background-color:$main_red;
            // color: $main_orange;
            font-weight: 500;
            width: 85px;
            p{
                opacity: 1;
            }
        }
    }
}