@keyframes spin {
  0% {
    transform: rotate(0);
  }

  15% {
    transform: rotate(120deg);
  }

  20% {
    transform: rotate(120deg);
  }

  35% {
    transform: rotate(240deg);
  }

  40% {
    transform: rotate(240deg);
  }

  90% {
    transform: rotate(0deg);
  }
}

.shake {
  -webkit-animation: shake .4s ease-in-out 1;
  -moz-animation: shake .4s ease-in-out 1;
  -ms-animation: shake .4s ease-in-out 1;
  -o-animation: shake .4s ease-in-out 1;
  animation: shake .4s ease-in-out 1;
}

.shakeSlow {
  -webkit-animation: shake .5s ease-in-out 1;
  -moz-animation: shake .5s ease-in-out 1;
  -ms-animation: shake .5s ease-in-out 1;
  -o-animation: shake .5s ease-in-out 1;
  animation: shake .5s ease-in-out 1;
}

.shakeSm {
  -webkit-animation: shakeSm .4s ease-in-out 1;
  -moz-animation: shakeSm .4s ease-in-out 1;
  -ms-animation: shakeSm .4s ease-in-out 1;
  -o-animation: shakeSm .4s ease-in-out 1;
  animation: shakeSm .4s ease-in-out 1;
}


@keyframes shake {
  0% {
    transform: translateX(0)
  }

  20% {
    transform: translateX(5px)
  }

  40% {
    transform: translateX(-5px)
  }

  60% {
    transform: translateX(5px)
  }

  80% {
    transform: translateX(-5px)
  }

  100% {
    transform: translateX(0)
  }
}

@keyframes shakeSm {
  0% {
    transform: translateX(0)
  }

  20% {
    transform: translateX(2px)
  }

  40% {
    transform: translateX(-2px)
  }

  60% {
    transform: translateX(2px)
  }

  80% {
    transform: translateX(-2px)
  }

  100% {
    transform: translateX(0)
  }
}


////////////

.pulse {
  -webkit-animation: pulse 0.9s ease-in-out 1;
  -moz-animation: pulse 0.9s ease-in-out 1;
  -ms-animation: pulse 0.9s ease-in-out 1;
  -o-animation: pulse 0.9s ease-in-out 1;
  animation: pulse 0.9s ease-in-out 1;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: forward;
}

@keyframes pulse {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.03);

  }

  100% {
    transform: scale(1)
  }
}

.grad-fade {

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #d223d5, #c90d55, #e73c7e);
  background-size: 400% 400%;
  animation: grad 2s ease infinite;
  height: 100vh;
}

@keyframes grad {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}