
  @keyframes spin {
    0%{
        transform: rotate(0);
    }
    
    15%{
        transform: rotate(120deg);
    }
    
    20%{
        transform: rotate(120deg);
    }
    
    35%{
        transform: rotate(240deg);
    }
    
    40%{
        transform: rotate(240deg);
    }
    
    90%{
        transform: rotate(0deg);
    }
  }